<div class="modal fade" id="modal-view-actifc" tabindex="-1" aria-labelledby="modalViewActifCLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalViewActifCLabel">Bilan d'Actif Détaillé</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal-actifc-loader" class="text-center p-4">
                    <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Chargement...</span></div>
                </div>
                <div id="actifc-details-content" style="display: none;">
                    <div class="p-3 mb-3 bg-light rounded"><h6 class="mb-0 text-center">Bilan Actif pour <strong id="modal-actifc-acheteur"></strong> (<strong id="modal-actifc-annee"></strong>)</h6></div>
                    <table class="table table-sm actifc-details-table">
                        <tr class="table-group-divider"><td class="fw-bold fs-6 text-uppercase">ACTIF IMMOBILISÉ</td><td class="text-end fw-bold fs-6" id="total-actifc-I"></td></tr>
                        <tr><td class="fw-bold ps-3">Éléments incorporels</td><td class="text-end" id="modal-actifc-elements_incorporels"></td></tr>
                        <tr><td class="ps-5">Frais recherche & développement</td><td class="text-end" id="modal-actifc-frais_recherche_developpement"></td></tr>
                        <tr><td class="ps-5">Brevet, licence, logiciels</td><td class="text-end" id="modal-actifc-brevet_licence_logiciels"></td></tr>
                        <tr><td class="ps-5">Fonds commercial</td><td class="text-end" id="modal-actifc-fonds_commercial"></td></tr>
                        <tr><td class="ps-5">Autres immobilisations incorporelles</td><td class="text-end" id="modal-actifc-autres_immobilisations_incorporelles"></td></tr>
                        
                        <tr><td class="fw-bold ps-3">Éléments corporels</td><td class="text-end" id="modal-actifc-elements_corporels"></td></tr>
                        <tr><td class="ps-5">Terrains</td><td class="text-end" id="modal-actifc-terrains"></td></tr>
                        <tr><td class="ps-5">Constructions</td><td class="text-end" id="modal-actifc-constructions"></td></tr>
                        <tr><td class="ps-5">Matériels et outils</td><td class="text-end" id="modal-actifc-materiels_et_outils"></td></tr>
                        <tr><td class="ps-5">Matériel de transport</td><td class="text-end" id="modal-actifc-materiel_de_transport"></td></tr>
                        <tr><td class="ps-5">Autres immos corporelles</td><td class="text-end" id="modal-actifc-autres_immos_corp"></td></tr>
                        <tr><td class="ps-5">Immos en cours</td><td class="text-end" id="modal-actifc-immos_en_cours"></td></tr>
                        <tr><td class="ps-5">Avances et acomptes</td><td class="text-end" id="modal-actifc-avances_et_acptes"></td></tr>

                        <tr><td class="fw-bold ps-3">Éléments financiers</td><td class="text-end" id="modal-actifc-elements_financiers"></td></tr>
                        <tr><td class="ps-5">Participations</td><td class="text-end" id="modal-actifc-participations"></td></tr>
                        <tr><td class="ps-5">Prêts</td><td class="text-end" id="modal-actifc-prets"></td></tr>
                        <tr><td class="ps-5">Autres</td><td class="text-end" id="modal-actifc-autres"></td></tr>

                        <tr class="table-group-divider"><td class="fw-bold fs-6 text-uppercase">ACTIF CIRCULANT</td><td class="text-end fw-bold fs-6" id="total-actifc-II"></td></tr>
                        <tr><td class="fw-bold ps-3">Stocks</td><td class="text-end" id="modal-actifc-stocks"></td></tr>
                        <tr><td class="ps-5">Stocks de matières premières</td><td class="text-end" id="modal-actifc-stocks_mp"></td></tr>
                        <tr><td class="ps-5">Stocks encours MP</td><td class="text-end" id="modal-actifc-stocks_encours_mp"></td></tr>
                        <tr><td class="ps-5">Stocks de produits finis</td><td class="text-end" id="modal-actifc-stocks_pf"></td></tr>
                        <tr><td class="ps-5">Stocks encours PF</td><td class="text-end" id="modal-actifc-stocks_encours_pf"></td></tr>
                        <tr><td class="ps-5">Stocks encours services</td><td class="text-end" id="modal-actifc-stocks_encours_services"></td></tr>
                        <tr><td class="ps-5">Stocks de marchandises</td><td class="text-end" id="modal-actifc-stocks_mses"></td></tr>
                        
                        <tr><td class="fw-bold ps-3">Créances</td><td class="text-end" id="modal-actifc-creances"></td></tr>
                        <tr><td class="ps-5">Avances et acomptes versés</td><td class="text-end" id="modal-actifc-avances_acptes_verses"></td></tr>
                        <tr><td class="ps-5">Clients et comptes rattachés</td><td class="text-end" id="modal-actifc-clients_et_cptes_rattaches"></td></tr>
                        <tr><td class="ps-5">Autres créances</td><td class="text-end" id="modal-actifc-autres_creances"></td></tr>
                        
                        <tr><td class="fw-bold ps-3">Disponibilités & VMP</td><td class="text-end" id="modal-actifc-disponibilites_vmp"></td></tr>
                        <tr><td class="ps-5">Valeurs à encaisser</td><td class="text-end" id="modal-actifc-valeurs_a_encaisser"></td></tr>
                        <tr><td class="ps-5">Banques, chèques postaux, caisse</td><td class="text-end" id="modal-actifc-banques_cheques_postaux_caisse"></td></tr>

                        <tr class="table-group-divider"><td class="fw-bold fs-6 text-uppercase">COMPTES DE RÉGULARISATION</td><td class="text-end fw-bold fs-6" id="total-actifc-III"></td></tr>
                        <tr><td class="ps-3">Charges constatées d'avance</td><td class="text-end" id="modal-actifc-cca"></td></tr>
                        <tr><td class="ps-3">Charges à répartir et frais d'établissement</td><td class="text-end" id="modal-actifc-charges_a_repartir_et_frais_etablissement"></td></tr>
                        <tr><td class="ps-3">Primes de remboursement</td><td class="text-end" id="modal-actifc-primes_de_rbt"></td></tr>
                        
                        <tr class="table-group-divider table-light"><td class="fw-bold fs-5 text-uppercase">TOTAL GÉNÉRAL ACTIF</td><td class="text-end fw-bold fs-5" id="total-general-actifc"></td></tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-actifc" tabindex="-1" aria-labelledby="modalEditActifCLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditActifCLabel">Modifier l'Actif</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-edit-actifc">
                    {% csrf_token %}
                    <input type="hidden" id="edit-actifc-id" name="actif_id">
                    <div id="edit-actifc-form-content">
                        <div class="text-center p-4">
                            <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Chargement...</span></div>
                        </div>
                    </div>
                    <div class="modal-footer mt-4">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="btn-save-actifc-changes"><i class="bi bi-save me-2"></i>Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>