# Ignore les fichiers de cache Python
__pycache__/
*.pyc

# Ignore la base de données SQLite
db.sqlite3

# Ignore les fichiers médias
media/

# Ignore les fichiers statiques générés
static/

# Ignore ce dossier
documentation/

# Node modules
node_modules/

# Ignore
.env
.env.db