{% extends 'main/root/base.html' %}

{% load static %}

{% block css %}
<!-- Leaflet CSS -->
<!-- MapLibre GL JS -->
<link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
<style>
.map-container {
    border-radius: 15px;  /* Bordures arrondies */
    overflow: hidden; /* Empêche la carte de dépasser */
    height: 400px; /* Hauteur fixe */
    border: 2px solid #ddd; /* Bordure grise légère */
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 15px; /* Bordures arrondies pour la carte aussi */
}

.color-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin-left: 5px;
}

</style>
{% endblock %}

{% block body %}

<!-- Title START -->
<div class="row">
    <div class="col-12">
        <h3 class="fs-4 mb-0"><i class="bi bi-exclamation-triangle fa-fw me-1"></i>Ajouter une Alerte</h3>
    </div>
</div>
<!-- Title END -->

<!-- Counter START -->
<div class="row g-4">
    <!-- Counter item -->
    <div class="col-sm-12 col-xl-12">
        <div class="card card-body border">
            <div class="d-flex align-items-center">
                <!-- Content -->
                <div class="ms-3">
                    <h4 id="countAlertes">Module de Gestion des Alertes</h4>
                    <span>Dans ce module, vous pouvez ajouter une alerte et y associer des documents.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter END -->

<!-- Ajout d'une Alerte START -->
<div class="row">
    <div class="col-12">
        <!-- Wishlist START -->
        <div class="card border">
            <!-- Card header -->
            <div class="card-header border-bottom">
                <h4 class="card-header-title">Etape 1 - Infos générales</h4>
            </div>

            <!-- Card body START -->
            <div class="card-body vstack gap-4">

                <form id="addAlerteForm">

                    <!-- Généralités item START -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header d-flex justify-content-between align-items-center p-0">
                            <!-- Avatar -->
                            <div class="d-flex">
                                <!-- Info -->
                                <div class="mb-3">
                                    <h6 class="mb-0">Détails de l'alerte</h6>
                                </div>
                            </div>
                        </div>

                        <!-- card body -->
                        <div class="card-body p-0 pt-3">
                            <!-- Référence -->
                            <div class="mb-3">
                                <label class="reference">Référence</label>
                                <input type="text" class="form-control" id="reference" name="reference" value="{{ reference }}" placeholder="Ex. ALRT001" required style="background-color: #ddd;">
                                <small><strong>Note : </strong>la référence de l'alerte est genere par le systeme automatiquement et est unique.</small>
                            </div>

                            <br>

                            <!-- Objet -->
                            <div class="mb-3">
                                <label class="objet">Objet</label>
                                <input type="text" class="form-control" id="objet" name="objet" placeholder="Ex. Incident de sécurité" required>
                            </div>

                            <br>

                            <!-- Content -->
                            <div class="mb-3">
                                <label class="content">Message</label>
                                <textarea class="form-control" id="content" name="content" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Généralités item END -->

                    <br>

                    <!-- Button -->
                    <div class="text-end">
                        <button class="btn btn-primary mb-0" type="submit">
                            <i class="bi bi-plus-lg"></i> Ajouter l'alerte
                        </button>
                    </div>

                </form>

            </div>
            <!-- Card body END -->
        </div>
        <!-- Wishlist END -->
    </div>
</div>
<!-- Ajout d'une Alerte END -->

{% endblock %}

{% block scripts %}

<!-- Place the first <script> tag in your HTML's <head> -->
<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.jsdelivr.net/nicedit/0.9/nicEdit.js"></script>
<script>
    $(document).ready(function() {
        // Initialiser TinyMCE
        tinymce.init({
            selector: '#commentaire, #editCommentaire, #content',  // Sélecteurs pour les textareas
            plugins: 'link image code',
            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | code',
            height: 700
        });

        // Votre script JavaScript existant ici
    });
</script>

<script>
$(document).ready(function() {

    // Ajouter un alerte
    $('#addAlerteForm').on('submit', function(event) {
        event.preventDefault();

        var formData = $(this).serialize();
        console.log("Données du formulaire :", formData);

        $.ajax({
            url: '/api/ajouter-une-alerte/',
            type: 'POST',
            data: formData,
            headers: {
                'Authorization': 'Bearer ' + '{{ access }}' // Stocke le token dans localStorage
            },
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Succès!',
                    text: 'L’alerte a été ajouté avec succès.',
                    confirmButtonText: 'OK'
                }).then(() => {
                    // location.reload(); // Rafraîchir la page après validation
                    // Rediriger vers l'URL souhaitée
                    window.location.href = '/root-dashboard/warnings/ajouter-une-alerte/etape-2/' + '{{ reference }}' + '/?token={{ user.reset_token }}';
                });
            },
            error: function(xhr) {
                console.error(xhr.responseText);
                Swal.fire({
                    icon: 'error',
                    title: 'Erreur!',
                    text: xhr.responseJSON ? xhr.responseJSON.message : 'Une erreur est survenue.',
                    confirmButtonText: 'Réessayer'
                });
            }
        });
    });

    // Gestion de l'expiration du token
    $.ajaxSetup({
        statusCode: {
            401: function() {
                refreshToken();
            }
        }
    });

    // Rafraîchir le token si expiré
    function refreshToken() {
        $.ajax({
            url: '/api/token/refresh/',
            type: 'POST',
            data: JSON.stringify({ refresh: '{{ refresh }}' }),
            contentType: 'application/json',
            success: function(response) {
                localStorage.setItem('access_token', response.access);
                $.ajax(this); // Réessayer la requête
            },
            error: function() {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Votre session a expiré. Veuillez vous reconnecter.',
                    confirmButtonText: 'OK'
                }).then(() => {
                    window.location.href = '/login/';
                });
            }
        });
    }

});
</script>

{% endblock %}
