{% extends 'main/root/base.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block body %}

<!-- Title START -->
<div class="row">
    <div class="col-12">
        <h3 class="fs-4 mb-0"><i class="bi bi-cash-coin fa-fw me-1"></i>Passifs des Comptes Financiers IRFS</h3>
    </div>
</div>
<!-- Title END -->

<!-- Counter START -->
<div class="row g-4">
    <!-- Counter item -->
    <div class="col-sm-12 col-xl-12">
        <div class="card card-body border">
            <div class="d-flex align-items-center">
                <!-- Content -->
                <div class="ms-3">
                    <h4 id="countValeurs">Module de Gestion des Passifs des Comptes Financiers IRFS</h4>
                    <span>Dans ce module, il vous sera plus facile de gérer les opérations liées aux valeurs des comptes financiers IRFS, telles que l'ajout, la modification, la suppression et la consultation.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter END -->

<!-- VALEURS FINANCIERES IRFS START -->
<div class="row">
    <div class="col-12">
        <div class="card border rounded-3">
            <!-- Card header START -->
            <div class="card-header border-bottom">
                <h5 class="card-header-title">Formulaire d'ajout des Valeurs de Comptes Financiers IRFS ({{ actif_financier_irfs_list.count }})</h5>
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body">

                <div class="card border rounded-3">
                    <!-- Card header START -->
                    <div class="card-header border-bottom">
                        <h5 class="card-header-title">Formulaire d'ajout d'un passif IRFS</h5>
                    </div>
                    <!-- Card header END -->

                    <!-- Card body START -->
                    <div class="card-body">
                        <form id="addValeurForm">
                            <input type="hidden" name="acheteur_id" value="{{ id_acheteur }}" />
                            <div class="table-responsive border-0">
                                <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                                    <tr>
                                        <th><u><strong>ANNEE CIVILE</strong></u></th>
                                        <th>
                                            <select class="form-select" name="annee" required>
                                                {% for annee in annee_list %}
                                                    <option value="{{ annee.id }}">{{ annee.annee }}</option>
                                                {% endfor %}
                                            </select>
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th><u><strong>DEVISE</strong></u></th>
                                        <th>
                                            <select class="form-select" name="devise" required>
                                                {% for devise in devise_list %}
                                                    <option value="{{ devise.id }}">{{ devise.nom }} ({{ devise.symbole }})</option>
                                                {% endfor %}
                                            </select>
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><u><strong>CAPITAUX PROPRES</strong></u></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="immobilisations_incorporelles_input" name="valeur_immobilisations_incorporelles" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="goodwill_label" name="compte_goodwill">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="goodwill_input" name="valeur_goodwill" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="marques_droits_label" name="compte_marques_droits">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}">{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="marques_droits_input" name="valeur_marques_droits" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><u><strong>PASSIF NON COURANT</strong></u></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="immobilisations_incorporelles_input" name="valeur_immobilisations_incorporelles" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="goodwill_label" name="compte_goodwill">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="goodwill_input" name="valeur_goodwill" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="marques_droits_label" name="compte_marques_droits">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}">{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="marques_droits_input" name="valeur_marques_droits" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="brevets_licences_label" name="compte_brevets_licences">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}">{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="brevets_licences_input" name="valeur_brevets_licences" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="autres_immobilisations_incorporelles_input" name="valeur_autres_immobilisations_incorporelles" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_corporelles_label" name="compte_immobilisations_corporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom == "Immobilisations corporelles" %}
                                                        <option value="{{ compte.id }}">{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="immobilisations_corporelles_input" name="valeur_immobilisations_corporelles" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="terrains_input" name="valeur_terrains" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="batiments_input" name="valeur_batiments" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="materiel_equipement_label" name="compte_materiel_equipement">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom == "Matériel et équipement" %}
                                                        <option value="{{ compte.id }}">{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="materiel_equipement_input" name="valeur_materiel_equipement" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="immobilisations_financieres_input" name="valeur_immobilisations_financieres" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="participations_input" name="valeur_participations" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="prets_input" name="valeur_prets" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-warning bg-light" type="number" id="total_actif_non_courant_input" name="valeur_total_actif_non_courant" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><u><strong>PASSIF COURANT</strong></u></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="stocks_input" name="valeur_stocks" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="matieres_input" name="valeur_matieres" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="produits_input" name="valeur_produits" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="creances_clients_input" name="valeur_creances_clients" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="creances_court_input" name="valeur_creances_court" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="autres_creances_input" name="valeur_autres_creances" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="avances_input" name="valeur_avances" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="creances_diverses_label" name="compte_creances_diverses">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom == "Créances diverses" %}
                                                        <option value="{{ compte.id }}">{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="creances_diverses_input" name="valeur_creances_diverses" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-success bg-light" type="number" id="tresorerie_input" name="valeur_tresorerie" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control bg-light" id="disponibilites_label" name="compte_disponibilites">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom == "Disponibilités bancaires" %}
                                                        <option value="{{ compte.id }}">{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control" type="number" id="disponibilites_input" name="valeur_disponibilites" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-warning bg-light" type="number" id="total_actif_courant_input" name="valeur_total_actif_courant" value="0.00"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select class="form-control border-primary bg-light" id="immobilisations_incorporelles_label" name="compte_immobilisations_incorporelles">
                                                {% for compte in compte_financier_irfs_list %}
                                                    {% if compte.nom %}
                                                        <option value="{{ compte.id }}" selected>{{ compte.nom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input class="form-control border-danger bg-light" type="number" id="total_actif_input" name="valeur_total_actif" value="0.00"></td>
                                    </tr>
                                </table>
                                <br>
                                <button type="submit" class="btn btn-primary btn-block">Sauvergardez les données</button>
                            </div>
                        </form>

                    </div>

                </div>


            </div>
            <!-- Card body END -->

            <!-- Card footer START -->
            <div class="card-footer pt-0"></div>
            <!-- Card footer END -->
        </div>
    </div>
</div>
<!-- VALEURS FINANCIERES IRFS END -->



{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function() {
        // Fonction pour calculer les valeurs automatiquement
        function calculerValeurs() {
            // Calculer immobilisations_incorporelles_input
            var immobilisations_incorporelles = parseFloat($('#goodwill_input').val()) +
                                                parseFloat($('#marques_droits_input').val()) +
                                                parseFloat($('#brevets_licences_input').val()) +
                                                parseFloat($('#autres_immobilisations_incorporelles_input').val());
            $('#immobilisations_incorporelles_input').val(immobilisations_incorporelles.toFixed(2));

            // Calculer immobilisations_corporelles_input
            var immobilisations_corporelles = parseFloat($('#terrains_input').val()) +
                                              parseFloat($('#batiments_input').val()) +
                                              parseFloat($('#materiel_equipement_input').val());
            $('#immobilisations_corporelles_input').val(immobilisations_corporelles.toFixed(2));

            // Calculer immobilisations_financieres_input
            var immobilisations_financieres = parseFloat($('#participations_input').val()) +
                                              parseFloat($('#prets_input').val());
            $('#immobilisations_financieres_input').val(immobilisations_financieres.toFixed(2));

            // Calculer total_actif_non_courant_input
            var total_actif_non_courant = immobilisations_financieres +
                                          immobilisations_corporelles +
                                          immobilisations_incorporelles;
            $('#total_actif_non_courant_input').val(total_actif_non_courant.toFixed(2));

            // Calculer stocks_input
            var stocks = parseFloat($('#matieres_input').val()) +
                         parseFloat($('#produits_input').val());
            $('#stocks_input').val(stocks.toFixed(2));

            // Calculer creances_clients_input
            var creances_clients = parseFloat($('#creances_court_input').val());
            $('#creances_clients_input').val(creances_clients.toFixed(2));

            // Calculer autres_creances_input
            var autres_creances = parseFloat($('#avances_input').val()) +
                                  parseFloat($('#creances_diverses_input').val());
            $('#autres_creances_input').val(autres_creances.toFixed(2));

            // Calculer tresorerie_input
            var tresorerie = parseFloat($('#disponibilites_input').val());
            $('#tresorerie_input').val(tresorerie.toFixed(2));

            // Calculer total_actif_courant_input
            var total_actif_courant = tresorerie + autres_creances + creances_clients + stocks;
            $('#total_actif_courant_input').val(total_actif_courant.toFixed(2));

            // Calculer total_actif_input
            var total_actif = total_actif_courant + total_actif_non_courant;
            $('#total_actif_input').val(total_actif.toFixed(2));
        }

        // Écouter les changements sur tous les inputs pertinents
        $('input[type="number"]').on('input', function() {
            calculerValeurs();
        });
    });
</script>


<script>
$(document).ready(function() {
    $('#addValeurForm').on('submit', function(event) {
        event.preventDefault();

        // Collecter toutes les données du formulaire
        var formData = $(this).serializeArray();

        // Créer un tableau pour stocker les objets JSON
        var dataArray = [];

        // Parcourir les données du formulaire et créer des objets JSON
        formData.forEach(function(field) {
            if (field.name.startsWith('compte_')) {
                var compteId = field.value;
                var valeurName = 'valeur_' + field.name.split('_')[1];
                var valeurField = formData.find(f => f.name === valeurName);

                // Vérifiez que le champ 'valeur' existe
                if (valeurField) {
                    var valeur = valeurField.value;

                    // Ajouter un objet JSON pour chaque insertion
                    dataArray.push({
                        acheteur_id: formData.find(f => f.name === 'acheteur_id')?.value,
                        annee: formData.find(f => f.name === 'annee')?.value,
                        devise: formData.find(f => f.name === 'devise')?.value,
                        compte: compteId,
                        valeur: valeur
                    });
                }
            }
        });

        console.log(JSON.stringify(dataArray));

        // Envoyer le tableau JSON au serveur
        $.ajax({
            url: '/api/acheteur/' + formData.find(f => f.name === 'acheteur_id')?.value + '/bilan-irfs/ajout-une-valeur-financier-irfs/',
            type: 'POST',
            data: JSON.stringify(dataArray),
            headers: {
                'Authorization': 'Bearer ' + '{{ access }}',
                'Content-Type': 'application/json'
            },
            success: function() {
                Swal.fire({
                    icon: 'success',
                    title: 'Succès',
                    text: 'Valeurs ajoutées avec succès.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.reload(true);
                });
            },
            error: function() {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Erreur lors de l\'ajout des valeurs.',
                });
            }
        });
    });


    var lastRequest;

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            lastRequest = settings;
        },
        statusCode: {
            401: function() {
                refreshToken(lastRequest);
            }
        }
    });

    function refreshToken(lastRequest) {
        $.ajax({
            url: '/api/token/refresh/',
            type: 'POST',
            data: JSON.stringify({ refresh: '{{ refresh }}' }),
            contentType: 'application/json',
            success: function(response) {
                localStorage.setItem('access_token', response.access);
                $.ajax(lastRequest);
            },
            error: function() {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Erreur lors du rafraîchissement du token.',
                    showCancelButton: true,
                    confirmButtonText: 'Recharger la page',
                    cancelButtonText: 'Rafraîchir le token',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.reload(true);
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        refreshToken(lastRequest);
                    }
                });
            }
        });
    }
});


</script>

{% endblock %}
