<!DOCTYPE html>
<html lang="en">

{% load i18n %}
{% load static %}

<head>
    <title>BUCREP - Verification Compte</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ACREMAC">
    <meta name="description" content="Plateforme de gestion pour le BUCREP">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.min.css">

    <link rel="shortcut icon" href="{% static 'assets/images/bucrep-image.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    {% csrf_token %}
</head>

<body>
    <main>
        <section class="vh-xxl-100">
            <div class="container h-100 d-flex px-0 px-sm-4">
                <div class="row justify-content-center align-items-center m-auto">
                    <div class="col-12">
                        <div class="bg-mode shadow rounded-3 overflow-hidden">
                            <div class="row g-0">
                                <div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
                                    <div class="p-3 p-lg-5">
                                        <img src="{% static 'assets/images/doublefactor.png' %}" alt="">
                                    </div>
                                    <div class="vr opacity-1 d-none d-lg-block"></div>
                                </div>

                                <div class="col-lg-6 order-1">
                                    <div class="p-4 p-sm-7">
                                        <a href="{% url 'index' %}">
                                            <img class="h-50px mb-4" src="{% static 'assets/images/bucrep-image.png' %}" alt="logo">
                                        </a>
                                        <h1 class="mb-2 h3" style="color: #0A95CA;">{% trans "VÉRIFICATION COMPTE" %}</h1>
                                        <p class="mb-0">{% trans "Accédez à votre " %}<a href="{% url 'index' %}" style="color: #0A95CA;">{% trans "espace privé" %}</a> !</p>

                                        <form id="authForm" class="mt-4 text-start">
                                            <div class="mb-3 position-relative">
                                                <label class="form-label">{% trans "Code de connexion" %}</label>
                                                <input class="form-control" type="text" id="code_connexion" name="code_connexion" required>
                                                <span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
                                                    <i class="fakepasswordicon bi bi-eye-slash cursor-pointer p-2"></i>
                                                </span>
                                            </div>
                                            <small>
                                                <strong>{% trans "Note d'information : " %}</strong>
                                                <br>{% trans "Veuillez saisir le code secret qui vous a été envoyé par mail afin de vérifier que c'est bel et bien vous qui essayez d'accéder à ce compte !" %}
                                            </small>
                                            <br><br>

                                            <div class="mb-3 text-center">
                                                <p>{% trans "Retour à la page de " %}<a href="{% url 'index' %}" style="color: #0A95CA;">{% trans "connexion" %}</a></p>
                                            </div>

                                            <div>
                                                <br>
                                                <button type="submit" class="btn btn-primary w-100 mb-0" style="background-color: #0A95CA; border-color: #0A95CA;">
                                                    {% trans "Vérification" %}
                                                </button>
                                            </div>

                                            <br>

                                            <div class="position-relative my-4">
                                                <hr>
                                                <p class="small bg-mode position-absolute top-50 start-50 translate-middle px-2">BUCREP 3.0</p>
                                            </div>

                                            <div class="text-primary-hover text-body mt-3 text-center">
                                                {% blocktrans %}Copyrights ©2025. Built by <a href="https://www.acremac.com/" class="text-body">ACREMAC</a>.{% endblocktrans %}
                                            </div>

                                            <form id="language-form" action="{% url 'set_language' %}" method="post" class="d-none">
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="{{ request.path }}">
                                                <input type="hidden" id="language-input" name="language">
                                            </form>

                                            <div class="text-primary-hover text-body mt-3 text-center">
                                                <a href="#" class="lang-flag" data-lang="fr">
                                                    <img height="30" width="25" src="{% static 'assets/images/french.png' %}" alt="Français">
                                                </a>
                                                &nbsp;
                                                <a href="#" class="lang-flag" data-lang="en">
                                                    <img height="30" width="27" src="{% static 'assets/images/english.png' %}" alt="Anglais">
                                                </a>
                                            </div>
                                        </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
    <div class="back-top"></div>

    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/functions.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.all.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    // Ajax Script
    <script>
        $(document).ready(function () {
            // ... (votre fonction getCsrfToken)
            function getCsrfToken() {
                return document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            }

            const urlParams = new URLSearchParams(window.location.search);
            const token = urlParams.get('token');

            if (!token) {
                Swal.fire({
                    icon: 'error',
                    title: 'Erreur',
                    text: 'Aucun token fourni. Veuillez réessayer.',
                }).then(() => {
                    window.location.href = '/';
                });
                return;
            }

            $('#authForm').on('submit', function (event) {
                event.preventDefault();
                var code_connexion = $('#code_connexion').val();

                if (!code_connexion) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Veuillez entrer le code secret.',
                    });
                    return;
                }

                // Étape 1: Appel à la vue de vérification du 2FA
                $.ajax({
                    url: '/api/double-factor-auth/',
                    type: 'POST',
                    data: JSON.stringify({ code_connexion: code_connexion, token: token }),
                    contentType: 'application/json',
                    headers: {
                        'X-CSRFToken': getCsrfToken()
                    },
                    success: function (response) {
                        const user_id = response.user_id;
                        const user_role = response.user_role; // Récupérez le rôle ici

                        if (user_id && user_role) {
                            // Étape 2: Appel à la vue d'initialisation de la session
                            $.ajax({
                                url: '/api/init-session/',
                                type: 'POST',
                                data: JSON.stringify({ user_id: user_id }),
                                contentType: 'application/json',
                                headers: {
                                    'X-CSRFToken': getCsrfToken()
                                },
                                success: function (initResponse) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Succès',
                                        text: 'Authentification réussie. Redirection en cours...',
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then(() => {
                                        // Définition des URLs de redirection en fonction du rôle
                                        const roleRedirects = {
                                            "Root": "{% url 'dash_root' %}",
                                            "Validateur": "{% url 'dash_validateur' %}",
                                            "Analyste": "{% url 'dash_analyste' %}",
                                            "Client": "{% url 'dash_client' %}",
                                        };

                                        const redirectUrl = roleRedirects[user_role];

                                        if (redirectUrl) {
                                            window.location.href = redirectUrl;
                                        } else {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Erreur',
                                                text: 'URL de redirection inconnue pour ce rôle.',
                                            });
                                        }
                                    });
                                },
                                error: function (initResponse) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Erreur de session',
                                        text: initResponse.responseJSON.detail || 'Impossible de créer la session.',
                                    });
                                }
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erreur',
                                text: 'ID utilisateur ou rôle introuvable.',
                            });
                        }
                    },
                    error: function (response) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.responseJSON.detail || 'Une erreur s\'est produite.',
                        });
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".lang-flag").click(function (e) {
                e.preventDefault();
                var lang = $(this).data("lang");
                var url = $("#language-form").attr("action");
                var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        language: lang,
                        csrfmiddlewaretoken: csrfToken
                    },
                    success: function () {
                        Swal.fire({
                            title: "Succès",
                            text: "Langue changée avec succès.",
                            icon: "success",
                            timer: 1500,
                            showConfirmButton: false
                        }).then(() => {
                            location.reload(true);
                        });
                    },
                    error: function () {
                        Swal.fire({
                            title: "Erreur",
                            text: "Impossible de changer la langue.",
                            icon: "error"
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>