<!DOCTYPE html>
<html lang="en">

{% load i18n %}
{% load static %}


<!-- ACREMAC | Bucrep 3.0 -->
<head>
    <title>BUCREP - Verification Compte</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Import Vue.js via CDN -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/bucrep-image.png' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <!-- Vue.js App -->
    <div id="app">

        <!-- **************** MAIN CONTENT START **************** -->
        <main>

            <!-- =======================
            Main Content START -->
            <section class="vh-xxl-100">
                <div class="container h-100 d-flex px-0 px-sm-4">
                    <div class="row justify-content-center align-items-center m-auto">
                        <div class="col-12">
                            <div class="bg-mode shadow rounded-3 overflow-hidden">
                                <div class="row g-0">
                                    <!-- Vector Image -->
                                    <div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
                                        <div class="p-3 p-lg-5">
                                            <img src="{% static 'assets/images/doublefactor.png' %}" alt="">
                                        </div>
                                        <!-- Divider -->
                                        <div class="vr opacity-1 d-none d-lg-block"></div>
                                    </div>

                                    <!-- Information -->
                                    <div class="col-lg-6 order-1">
                                        <div class="p-4 p-sm-7">
                                            <!-- Logo -->
                                            <a href="{% url 'index' %}">
                                                <img class="h-50px mb-4" src="{% static 'assets/images/bucrep-image.png' %}" alt="logo">
                                            </a>
                                            <!-- Title -->
                                            <h1 class="mb-2 h3" style="color: #0A95CA;">VERIFICATION COMPTE</h1>
                                            <p class="mb-0">Accédez à votre <a href="{% url 'index' %}" style="color: #0A95CA;">espace privé</a> !</p>

                                            <!-- Form START -->
                                            <form id="authForm" class="mt-4 text-start">
                                                <!-- Code Secret -->
                                                <div class="mb-3 position-relative">
                                                    <label class="form-label">Code Connexion</label>
                                                    <input class="form-control fakepassword" type="password" id="code_connexion" name="code_connexion" required>
                                                    <input type="hidden"  id="user" name="user" value="">
                                                    <span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
                                                        <i class="fakepasswordicon bi bi-eye-slash cursor-pointer p-2"></i>
                                                    </span>
                                                </div>
                                                <small>
                                                    <strong>Note d'information : </strong>
                                                    <br>Veuillez saisir le code secret qui vous a été envoyé par mail afin de vérifier que c'est bel et bien vous qui essayez d'accéder à ce compte !
                                                </small>
                                                <br><br>

                                                <div class="mb-3 text-center">
                                                    <p>Retour à la page de <a href="{% url 'index' %}" style="color: #0A95CA;">connexion</a></p>
                                                </div>

                                                <!-- Button -->
                                                <div>
                                                    <br>
                                                    <button type="submit" class="btn btn-primary w-100 mb-0" style="background-color: #0A95CA; border-color: #0A95CA;">
                                                        vérification
                                                    </button>
                                                </div>

                                                <br>

                                                <!-- Divider -->
                                                <div class="position-relative my-4">
                                                    <hr>
                                                    <p class="small bg-mode position-absolute top-50 start-50 translate-middle px-2">BUCREP 3.0</p>
                                                </div>

                                                <!-- Copyright -->
                                                <div class="text-primary-hover text-body mt-3 text-center"> Copyrights ©2025. Built by <a href="https://www.acremac.com/" class="text-body">ACREMAC</a>. </div>

                                                <!-- Translation -->
                                                <!-- Formulaire de changement de langue -->
                                                <form id="language-form" action="{% url 'set_language' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="next" value="{{ request.path }}">
                                                    <input type="hidden" id="language-input" name="language">
                                                </form>

                                                <!-- Drapeaux de sélection de langue -->
                                                <div class="text-primary-hover text-body mt-3 text-center">
                                                    <a href="#" class="lang-flag" data-lang="fr">
                                                        <img height="30" width="25" src="{% static 'assets/images/french.png' %}" alt="Français">
                                                    </a>
                                                    &nbsp;
                                                    <a href="#" class="lang-flag" data-lang="en">
                                                        <img height="30" width="27" src="{% static 'assets/images/english.png' %}" alt="Anglais">
                                                    </a>
                                                </div>


                                            </form>
                                            <!-- Form END -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- =======================
            Main Content END -->

        </main>
        <!-- **************** MAIN CONTENT END **************** -->

    </div>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- ThemeFunctions -->
<script src="{% static 'assets/js/functions.js' %}"></script>

<!-- SweetAlert JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.all.min.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Ajax Script -->
<script>
    $(document).ready(function () {
        // Récupération du token depuis l'URL
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token'); // Récupère le reset_token dans l'URL

        if (!token) {
            Swal.fire({
                icon: 'error',
                title: 'Erreur',
                text: 'Aucun token fourni. Veuillez réessayer.',
            }).then(() => {
                window.location.href = '/'; // Redirection vers la page d'accueil ou une autre page
            });
            return;
        }

        // Gestion de la soumission du formulaire
        $('#authForm').on('submit', function (event) {
            event.preventDefault();
            var code_connexion = $('#code_connexion').val();

            // Validation des champs
            if (!code_connexion) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Veuillez entrer le code secret.',
                });
                return;
            }

            // Appel AJAX pour vérifier le code de connexion
            $.ajax({
                url: '/double-factor-auth/',
                type: 'POST',
                data: JSON.stringify({ code_connexion: code_connexion, token: token }),
                contentType: 'application/json',
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Succès',
                        text: 'Authentification réussie. Redirection en cours...',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        // Redirection vers l'URL renvoyée par le backend
                        if (response.redirect_url) {
                            window.location.href = response.redirect_url;
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erreur',
                                text: 'URL de redirection introuvable.',
                            });
                        }
                    });
                },
                error: function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.responseJSON.detail || 'Une erreur s\'est produite.',
                    });
                }
            });
        });
    });
</script>



<script>
    $(document).ready(function () {
        $(".lang-flag").click(function (e) {
            e.preventDefault(); // Empêche le rechargement immédiat

            var lang = $(this).data("lang"); // Récupère la langue sélectionnée
            var url = $("#language-form").attr("action"); // URL du formulaire
            var csrfToken = $("input[name=csrfmiddlewaretoken]").val(); // Token CSRF

            $.ajax({
                type: "POST",
                url: url,
                data: {
                    language: lang,
                    csrfmiddlewaretoken: csrfToken
                },
                success: function () {
                    console.log("Langue changée avec succès !");
                    Swal.fire({
                        title: "Succès",
                        text: "Langue changée avec succès.",
                        icon: "success",
                        timer: 1500,
                        showConfirmButton: false
                    }).then(() => {
                        location.reload(true); // Recharge la page après le changement de langue
                    });
                },
                error: function () {
                    Swal.fire({
                        title: "Erreur",
                        text: "Impossible de changer la langue.",
                        icon: "error"
                    });
                }
            });
        });
    });


    </script>






</body>

<!-- ACREMAC | Bucrep 3.0 -->
</html>
