<!DOCTYPE html>
<html lang="en">

{% load static %}

<!-- ACREMAC | Bucrep 3.0 -->
<head>
    <title>BUCREP - Mot de Passe Oublié</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Import Vue.js via CDN -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/bucrep-image.png' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <!-- Vue.js App -->
    <div id="app">

        <!-- **************** MAIN CONTENT START **************** -->
        <main>

            <!-- =======================
            Main Content START -->
            <section class="vh-xxl-100">
                <div class="container h-100 d-flex px-0 px-sm-4">
                    <div class="row justify-content-center align-items-center m-auto">
                        <div class="col-12">
                            <div class="bg-mode shadow rounded-3 overflow-hidden">
                                <div class="row g-0">
                                    <!-- Vector Image -->
                                    <div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
                                        <div class="p-3 p-lg-5">
                                            <img src="{% static 'assets/images/forgot.png' %}" alt="">
                                        </div>
                                        <!-- Divider -->
                                        <div class="vr opacity-1 d-none d-lg-block"></div>
                                    </div>

                                    <!-- Information -->
                                    <div class="col-lg-6 order-1">
                                        <div class="p-4 p-sm-7">
                                            <!-- Logo -->
                                            <a href="{% url 'index' %}">
                                                <img class="h-50px mb-4" src="{% static 'assets/images/bucrep-image.png' %}" alt="logo">
                                            </a>
                                            <!-- Title -->
                                            <h1 class="mb-2 h3" style="color: #0A95CA;">MOT DE PASSE OUBLIÉ</h1>
                                            <p class="mb-0">Accédez à votre <a href="{% url 'index' %}" style="color: #0A95CA;">espace privé</a> !</p>

                                            <!-- Form START -->
                                            <form id="forgotPasswordForm" class="mt-4 text-start">
                                                <!-- Email -->
                                                <div class="mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input type="email" class="form-control" id="email" name="email" required>
                                                </div>

                                                <small>
                                                    <strong>Note d'information : </strong>
                                                    <br>Veuillez saisir votre email et par la suite vous recevrez un code de réinitialisation dans votre boîte de réception !
                                                </small>
                                                <br><br>

                                                <div class="mb-3 text-center">
                                                    <p>Retour à la page de <a href="{% url 'index' %}" style="color: #0A95CA;">connexion</a></p>
                                                </div>

                                                <!-- Button -->
                                                <div>
                                                    <br>
                                                    <button type="submit" class="btn btn-primary w-100 mb-0" style="background-color: #0A95CA; border-color: #0A95CA;">
                                                        réinitialisation
                                                    </button>
                                                </div>

                                                <br>

                                                <!-- Divider -->
                                                <div class="position-relative my-4">
                                                    <hr>
                                                    <p class="small bg-mode position-absolute top-50 start-50 translate-middle px-2">BUCREP 3.0</p>
                                                </div>

                                                <!-- Copyright -->
                                                <div class="text-primary-hover text-body mt-3 text-center"> Copyrights ©2025. Built by <a href="https://www.acremac.com/" class="text-body">ACREMAC</a>. </div>
                                            </form>
                                            <!-- Form END -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- =======================
            Main Content END -->

        </main>
        <!-- **************** MAIN CONTENT END **************** -->

    </div>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- ThemeFunctions -->
<script src="{% static 'assets/js/functions.js' %}"></script>

<!-- SweetAlert JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.24/sweetalert2.all.min.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Ajax Script -->
<script>
    $(document).ready(function() {
        $('#forgotPasswordForm').on('submit', function(event) {
            event.preventDefault();
            var email = $('#email').val();

            // Validation des champs
            if (!email) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Veuillez entrer votre adresse email.',
                });
                return;
            }

            $.ajax({
                url: '/forgot-password/',
                type: 'POST',
                data: JSON.stringify({email: email}),
                contentType: 'application/json',
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Un courriel de réinitialisation du mot de passe a été envoyé.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.href = response.reset_url; // Rediriger vers la page de réinitialisation du mot de passe avec le token dans l'URL
                    });
                },
                error: function(response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Aucun utilisateur trouvé avec cet email.',
                    });
                }
            });
        });
    });
</script>



</body>

<!-- ACREMAC | Bucrep 3.0 -->
</html>
